* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.calc {
  width: 400px;
  background-color: black;
  color: white;
}

.screen {
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  text-align: right;
  padding: 20px 5px; /* yukarıdan 20px, yan taraftan 5px demek */
}

.calc-button {
  background-color: #d8d9db;
  color: black;
  height: 100px;
  width: 24.5%;
  border: none;
  border-radius: 0;
  font-size: 40px;
  cursor: pointer; /* cursor imleç/gösterge oluyor neyin üzerine getirirsek (mesela burada pointer(işaretçi)
  (tıklama işareti gibi birşey oluyor)(progress,text falan dene sonra) onu gösterir.*/
}

.calc-button:hover {
  background-color: #ebebeb;
}

.calc-button:active {
  background-color: #bbbcbe;
}

.calc-button:last-child {
  background-color: #df974c;
  color: white;
}

.calc-button:last-child:hover {
  background-color: #dfb07e;
}

.calc-button:last-child:active {
  /* bölü,çarpı,eksi ve eşittire basınca belirlediğim renk oluyor */
  background-color: #dd8d37;
}

.double {
  width: 49.7%;
}

.triple {
  width: 74.8%;
}

.calc-button-row {
  display: flex;
  align-content: stretch; /* align-content = içeriği hizala */
  justify-content: space-between;
  margin-bottom: 0.5%; /* margin-bottom = kenar boşluğu */
}
